<h1>New Game</h1>

<h2> <%= @game_letters %> </h2>


<form action="/score" method="get">
  <%=hidden_field_tag 'game_letters', @game_letters %>
  <input type="text" name="word" value="<%= params[:word] %>" placeholder="Insert Longest Word">
  <input type="submit">
</form>
